.wrapper
  +content-title('Контакты')

  p Приятно, граждане, наблюдать, как явные признаки победы институциализации формируют глобальную экономическую сеть и при этом - представлены в исключительно положительном свете. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации системы массового участия.

  +picbox("contacts/001.jpg", 'picbox--align_left')

  p Явные признаки победы институциализации, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут описаны максимально подробно. Вот вам яркий пример современных тенденций - базовый вектор развития, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для экспериментов, поражающих по своей масштабности и грандиозности. Как уже неоднократно упомянуто, ключевые особенности структуры проекта лишь добавляют фракционных разногласий и ограничены исключительно образом мышления.

+divider