.wrapper
  +content-title('График')
  table.table.table-striped
    thead
      tr
        th Врач
        th Приемные дни
    tbody
      tr
        td Шпак Альбина Борисовна
        td пн-пт
      tr
        td Тайсон Тимур Васильевич
        td ср-чт
      tr
        td Горемыко Людмила Леопольдовна
        td сб-вс
      tr
        td Лобанов Эдуард Евлампиевич
        td вт, чт, сб
      tr
        td Шумакова Галина Томкрузовна
        td пн, ср, пт
+divider