header.header
  +menu
  ._wrapper
    h1._title Ветклиника на Таганке.
    ._contacts
      p._adress Москва, ЦАО, Старовольский переулок, д.&nbsp;52, кор.&nbsp;4
      p._phone <span>+7 (495) 002-01-03</span>, <span>+7 (495) 002-01-04</span>
    p._time круглосуточно