.wrapper
  +content-title('О клинике')
  p Внезапно, диаграммы связей являются только методом политического участия и функционально разнесены на независимые элементы. Разнообразный и богатый опыт говорит нам, что высококачественный прототип будущего проекта обеспечивает широкому кругу специалистов участие в формировании переосмысления внешнеэкономических политик. Не следует, однако, забывать, что социально-экономическое развитие, в своем классическом представлении.

+advantage({
  title: 'СОВРЕМЕННОЕ ОБОРУДОВАНИЕ',
  img: 'advantage/001',
  mod: 'advantage--first'
})
+advantage({
  title: 'КВАЛИФИЦИРОВАННЫЕ ВРАЧИ',
  img: 'advantage/002',
  mod: 'advantage--reverse'
})
+advantage({
  title: 'БЕЗОПАСНЫЕ ПРЕПАРАТЫ',
  img: 'advantage/003'
})
+advantage({
  title: 'ЗАПИСЬ НА БЕСПЛАТНЫЙ ПРИЁМ',
  img: 'advantage/004',
  mod: 'advantage--reverse advantage--visit',
  btn: {
    text: 'ЗАПИСАТЬСЯ',
    mod: 'button--visit'
  }
})

.wrapper
  p Как уже неоднократно упомянуто, стремящиеся вытеснить традиционное производство, нанотехнологии, превозмогая сложившуюся непростую экономическую ситуацию, представлены в исключительно положительном свете. Следует отметить, что высокое качество исследований.

+animals
+divider
+parallax