.wrapper
  +content-title('Отзывы')

  +advantage({
    title: 'Дмитрий',
    text: 'Разнообразный и богатый опыт говорит нам, что высококачественный прототип будущего проекта обеспечивает широкому кругу специалистов участие в формировании переосмысления внешнеэкономических политик.',
    img: 'reviews/001',
    mod: 'advantage--reviews'
  })
  +advantage({
    title: 'Карина',
    text: 'Разнообразный и богатый опыт говорит нам, что высококачественный прототип будущего проекта обеспечивает широкому кругу специалистов участие в формировании переосмысления внешнеэкономических политик.',
    img: 'reviews/002',
    mod: 'advantage--reviews'
  })
  +advantage({
    title: 'Константин',
    text: 'Разнообразный и богатый опыт говорит нам, что высококачественный прототип будущего проекта обеспечивает широкому кругу специалистов участие в формировании переосмысления внешнеэкономических политик.',
    img: 'reviews/001',
    mod: 'advantage--reviews'
  })
  +advantage({
    title: 'Наталья',
    text: 'Разнообразный и богатый опыт говорит нам, что высококачественный прототип будущего проекта обеспечивает широкому кругу специалистов участие в формировании переосмысления внешнеэкономических политик.',
    img: 'reviews/002',
    mod: 'advantage--reviews'
  })
  +advantage({
    title: 'Иван',
    text: 'Разнообразный и богатый опыт говорит нам, что высококачественный прототип будущего проекта обеспечивает широкому кругу специалистов участие в формировании переосмысления внешнеэкономических политик.',
    img: 'reviews/001',
    mod: 'advantage--reviews'
  })
  +advantage({
    title: 'Маргарита',
    text: 'Разнообразный и богатый опыт говорит нам, что высококачественный прототип будущего проекта обеспечивает широкому кругу специалистов участие в формировании переосмысления внешнеэкономических политик.',
    img: 'reviews/002',
    mod: 'advantage--reviews advantage--last'
  })
  

+divider