mixin sidenav
  aside.sidenav#mobile-demo
    ._header
      <a href="/" class="item logo"><?php echo $site_name; ?></a>
      ._close
        <i class='material-icons right'>close</i>
    ul.collapsible.expandable
      li
        .collapsible-header
          <a>Новые<i class='material-icons right'>arrow_drop_down</i></a>
        .collapsible-body
          <a href="cars" class="item">Все автомобили</a>
          <a href="credit" class="item">Автокредит</a>
          <a href="insurance" class="item">Автострахование</a>
          <a href="organizations" class="item">Организациям</a>
      li
        .collapsible-header
          <a>С пробегом<i class='material-icons right'>arrow_drop_down</i></a>
        .collapsible-body
          <a href="exchange" class="item">Обмен</a>
          <a href="buyout" class="item">Выкуп</a>
          <a href="calc" class="item">Автокредит</a>
          <a href="commission" class="item">Комиссия</a>
      li
        .collapsible-header
          <a>Сервис<i class='material-icons right'>arrow_drop_down</i></a>
        .collapsible-body
          <a href="maintenance" class="item">Техобслуживание</a>
          <a href="locksmith" class="item">Слесарный ремонт</a>
          <a href="bodywork" class="item">Кузовной ремонт</a>
          <a href="spare" class="item">Запчасти</a>
          <a href="special" class="item">Спецпредложения</a>
      li
        .collapsible-header
          <a>Акции<i class='material-icons right'>arrow_drop_down</i></a>
        .collapsible-body
          <a href="purchase" class="item">Покупка автомобиля</a>
          <a href="service" class="item">Сервис</a>
      li
        .collapsible-header
          <a>О нас<i class='material-icons right'>arrow_drop_down</i></a>
        .collapsible-body
          <a href="news" class="item">Новости</a>
          <a href="services" class="item">Услуги</a>
          <a href="discount" class="item">Дисконтная система</a>
          <a href="jobs" class="item">Вакансии</a>
      li
        .collapsible-header
          <a href="contacts" class="item">Контакты</a>