[Desktop Entry]
Encoding=UTF-8
Name=Ссылка на PlayCode - Code Sandbox. Online Code Editor.
Type=Link
URL=http://playcode.io/272818?tabs=console&index.html&output
Icon=text-html
