<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h2>О нас</h2>
        <p class="left-align light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit minima neque explicabo reiciendis voluptatibus tenetur fuga consequuntur cumque ullam, autem quibusdam sunt et pariatur asperiores nihil aut consequatur provident omnis architecto sint fugiat at obcaecati, facere maiores? Itaque doloribus excepturi debitis facere beatae, vero fugit aspernatur ullam alias consequatur at sit reprehenderit corrupti iure aperiam nobis, ipsum suscipit voluptate ipsam illo cumque ex! Quis animi ipsum amet, voluptatum magni minus provident distinctio! Voluptate earum at totam ea ad, commodi deleniti reiciendis ab odit! Alias, sed numquam ad, tenetur aut, ipsa veniam doloribus temporibus fugit obcaecati sapiente dignissimos in adipisci! Consectetur in iste nisi laboriosam non eos explicabo velit, sapiente quaerat sunt quas mollitia nobis blanditiis, aspernatur maiores, reiciendis debitis voluptatibus.</p>
        <p class="left-align light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ut consequuntur quaerat vel. A veniam optio deleniti ad, possimus iste soluta dolores adipisci numquam itaque excepturi explicabo fugiat vel voluptatum modi cumque dicta sint laudantium voluptatem dolor! Vero error sunt eligendi esse nisi nihil cupiditate excepturi consectetur eaque deserunt ab, iure facilis ratione? Nostrum dignissimos, error enim recusandae esse, impedit odio, minus ipsa beatae vero nisi facilis? Et doloribus odit ullam! Sequi deserunt laboriosam necessitatibus pariatur reiciendis maiores nihil repellendus ipsa corporis, iste expedita, facilis quae animi asperiores vero consectetur placeat, debitis repellat quaerat minima delectus laborum cum sunt quam? Corporis, voluptatum dolorum labore corrupti error libero quae! Optio architecto hic, temporibus quasi excepturi illo magni expedita qui omnis odio sapiente non quae, animi dolore assumenda, molestias sequi ratione distinctio laborum est culpa? Dolores quisquam optio, sequi adipisci excepturi rerum.</p>
      </div>
    </div>
  </div>
</div>


<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Starter Template</h1>
    <div class="row center">
      <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
    </div>
    <div class="row center">
      <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
    </div>
    <br><br>
  </div>
</div>


<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up development</h5>
          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="dist/img/parallax/004.jpg" alt="Unsplashed background img 2"></div>
</div>


<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <p class="left-align light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis atque consequatur odio adipisci vel possimus doloribus provident, doloremque commodi eligendi quidem quod voluptas mollitia quia nobis beatae hic earum repellat maxime illo dolorum quos error laudantium ex? Suscipit veniam tenetur alias minus, delectus accusamus perferendis totam distinctio, quo mollitia quae sed corporis autem quis officia, quam qui ratione explicabo reiciendis? Facilis aliquam fugiat, quis blanditiis animi, eos cum officiis temporibus, error quibusdam voluptas cupiditate. Deleniti, reprehenderit! Tempore facere aut ducimus ipsam. Eos eaque non sapiente.</p>
        <p class="left-align light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores doloribus eaque, officiis alias ea praesentium facilis ipsam aliquam laborum corrupti reprehenderit deserunt voluptate labore, hic quaerat. Tempore saepe sunt similique amet dolore natus, voluptas temporibus, itaque, libero illum vel. Corporis minima soluta, asperiores quibusdam officia obcaecati voluptates ex consequuntur voluptate aliquid reprehenderit illo, praesentium sapiente debitis eaque dolorum voluptas molestiae.</p>
      </div>
    </div>
  </div>
</div>