mixin divider
  .divider.wow.slideInUp(data-wow-offset="120")
    ._wrapper
      img._pic(src='dist/img/divider.png', alt="")
      p._text Для современного мира синтетическое тестирование напрямую зависит от новых предложений и некоторых наших оппонентов