footer#footer
  <div class="wrap">
    <a href="/"><img class="logo" src="/dist/img/riot120x.png" alt=""></a>
    <nav>
      <a href="compare">Сравнение</a>
      <a href="play">Попробовать</a>
      <a href="guide">Учебник</a>
      <a href="api">API</a>
      <a href="download">Скачать</a>
      <a href="faq">FAQ</a>
      <a target="_blank" href="https://riot.js.org/made-with-riot/">Примеры</a>
    </nav>
    <nav>
      <a href="https://riot.js.org/v2/">Riot v2</a>
      <a href="https://riot.js.org/v1.0/">Riot v1</a>
      <a href="https://riot.js.org/forum/">Форум</a>
      <a href="https://riot.js.org/online-compiler/">Online Compiler</a>
      <a target="_blank" href="https://opencollective.com/riot/">
        |Buy us a coffee <img class="emoji" title=":coffee:" alt=":coffee:" src="/dist/img/2615.png" height="20" width="20">
      </a>
    </nav>
    <nav class="extra">
      <a target="_blank" href="https://github.com/riot/riot"><img title="Riot on github" src="/dist/img/GITHUB-REPO.svg"></a>
      <a target="_blank" href="https://twitter.com/riotjs_"><img title="follow riot.js on twitter" src="/dist/img/riotjs.svg"></a>
      <a target="_blank" href="https://gitter.im/riot/riot"><img title="Join the chat at https://gitter.im/riot/riot" src="/dist/img/GITTER-JOIN_CHAT.svg"></a>
      <p class="sitemail">по вопросам сайта<a href="mailto:riot.js@bk.ru">riot.js@bk.ru</a></p>
    </nav>
  </div>
+button-up