* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: $fp;
  overflow-x: hidden;
  // min-height: 10000px;
  // background: linear-gradient(rgba(0,255,0,.5), rgba(0,255,0,.5)), url(../maket/desctop.jpg) no-repeat top center;
  // opacity: 0.5;
}

a, button, input, [type="submit"] {
  &:active, &:focus  {
      outline: none;
  }
}

img {
  max-width: 100%;
  @include no-select;
}

[class*=wrapper] {
  max-width: #{$sl}px;
  margin: 0 auto;
  padding: 0 20px;
}

@include max($sm) {
  [class*=wrapper] {
    padding: 0 15px;
  }
}