* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body,
html {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}
@font-face {
    font-family: 'LatoWebRegular';
    src: local('Lato Regular'), local('Lato-Regular'), url('fonts/latoregular.woff2') format('woff2'), url('fonts/latoregular.woff') format('woff'), url('fonts/latoregular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'LatoWebLight';
    src: local('Lato Light'), local('Lato-Light'), url('fonts/latolight.woff2') format('woff2'), url('fonts/latolight.woff') format('woff'), url('fonts/latolight.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
html {
    font-family: "LatoWebRegular", "Myriad Pro", "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
@media (min-width: 38em) {
    html {
        font-size: 18px;
    }
}
body {
    color: #515151;
    background-color: #fff;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.wrap {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}
@media (max-width: 880px) {
    .wrap {
        padding: 0 15px;
    }
}
a {
    color: #268bd2;
    text-decoration: none;
}
a:focus,
a:hover {
    text-decoration: underline;
}
a strong {
    color: inherit;
}
#main {
    position: relative;
    min-height: 18rem;
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
#main img {
    display: block;
    max-width: 100%;
    margin: 0 0 1rem;
    border-radius: 5px;
}
#main .m-body img {
    margin: 0;
    display: inline;
}
table {
    margin-bottom: 1rem;
    width: 100%;
    font-size: 85%;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
}
td,
th {
    padding: 0.25rem 0.5rem;
    border: 1px solid #e5e5e5;
}
th {
    text-align: left;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-weight: bold;
    line-height: 1.25;
    color: #313131;
    text-rendering: optimizeLegibility;
}
h1 {
    font-size: 2.4rem;
    font-weight: normal;
}
h2 {
    margin-top: 3rem;
    font-size: 1.4rem;
}
h3 {
    margin-top: 2.2rem;
    font-size: 1.1rem;
}
h4,
h5,
h6 {
    margin-top: 2.4rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #444;
    font-weight: normal;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 1.5em;
}
dt {
    font-weight: bold;
}
dd {
    margin-bottom: 0.5rem;
}
hr {
    position: relative;
    margin: 1.5rem 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}
abbr {
    font-size: 85%;
    font-weight: bold;
    color: #555;
    text-transform: uppercase;
}
abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #e5e5e5;
}
blockquote {
    padding: 0.5rem 1rem;
    margin: 2.5rem 0;
    color: #7a7a7a;
    border-left: 0.25rem solid #e5e5e5;
    font-style: italic;
    font-size: 110%;
}
blockquote p:last-child {
    margin-bottom: 0;
}
@media (min-width: 880px) {
    blockquote {
        padding-right: 5rem;
        padding-left: 1.25rem;
    }
}
a[href^="#fn:"],
a[href^="#fnref:"] {
    display: inline-block;
    margin-left: 0.1rem;
    font-weight: bold;
}
.footnotes {
    margin-top: 2rem;
    font-size: 85%;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
.highlight *::-moz-selection {
    background: rgba(220,220,255,0.5);
}
.highlight *::selection {
    background: rgba(220,220,255,0.5);
}
.highlight .hll {
    background-color: #ffc;
}
.highlight .c {
    color: #667;
}
.highlight .err,
.highlight .s {
    color: #2f6f9f;
}
.highlight .k {
    color: #069;
}
.highlight .o {
    color: #555;
}
.highlight .cm {
    color: #3F7E3E;
    font-style: italic;
}
.highlight .cp {
    color: #099;
}
.highlight .c1 {
    color: #667;
}
.highlight .cs {
    color: #667;
}
.highlight .gd {
    background-color: #fcc;
    border: 1px solid #c00;
}
.highlight .ge {
    font-style: italic;
}
.highlight .gr {
    color: #c00;
}
.highlight .gh {
    color: #030;
}
.highlight .gi {
    background-color: #cfc;
    border: 1px solid #0c0;
}
.highlight .go {
    color: #353535;
}
.highlight .gp {
    color: #009;
}
.highlight .gu {
    color: #030;
}
.highlight .gt {
    color: #9c6;
}
.highlight .kc {
    color: #069;
}
.highlight .kd {
    color: #069;
}
.highlight .kn {
    color: #069;
}
.highlight .kp {
    color: #069;
}
.highlight .kr {
    color: #069;
}
.highlight .kt {
    color: #078;
}
.highlight .m {
    color: #f60;
}
.highlight .na {
    color: #0184BC;
}
.highlight .nb {
    color: #366;
}
.highlight .nc {
    color: #986801;
}
.highlight .no {
    color: #360;
}
.highlight .nd {
    color: #46c;
}
.highlight .ni {
    color: #667;
}
.highlight .ne {
    color: #c00;
}
.highlight .nf {
    color: #c0f;
}
.highlight .nl {
    color: #46c;
}
.highlight .nn {
    color: #0184BC;
}
.highlight .nt {
    color: #A626A4;
}
.highlight .nv {
    color: #033;
}
.highlight .ow {
    color: #000;
}
.highlight .w {
    color: #777;
}
.highlight .mf {
    color: #f60;
}
.highlight .mh {
    color: #f60;
}
.highlight .mi {
    color: #f60;
}
.highlight .mo {
    color: #f60;
}
.highlight .sb {
    color: #c30;
}
.highlight .sc {
    color: #c30;
}
.highlight .sd {
    color: #c30;
    font-style: italic;
}
.highlight .s2 {
    color: #c30;
}
.highlight .se {
    color: #c30;
}
.highlight .sh {
    color: #c30;
}
.highlight .si {
    color: #a00;
}
.highlight .sx {
    color: #c30;
}
.highlight .sr {
    color: #3aa;
}
.highlight .s1 {
    color: #c30;
}
.highlight .ss {
    color: #fc3;
}
.highlight .bp {
    color: #366;
}
.highlight .vc {
    color: #033;
}
.highlight .vg {
    color: #033;
}
.highlight .vi {
    color: #033;
}
.highlight .il {
    color: #f60;
}
.css .nt+.nt,
.css .o,
.css .o+.nt {
    color: #999;
}
code,
pre {
    font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
    padding: 0.25em 0.5em;
    font-size: 70%;
    color: #058;
    background-color: #f9f9f9;
    border-radius: 3px;
}
pre {
    margin-top: 0;
    margin-bottom: 1rem;
}
pre code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
}
.highlight {
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    line-height: 1.4;
    background-color: #f9f9f9;
    border-radius: 0.25rem;
    overflow-x: scroll;
}
.highlight pre {
    margin-bottom: 0;
    overflow-x: auto;
}
.highlight .lineno {
    display: inline-block;
    padding-right: 0.75rem;
    padding-left: 0.25rem;
    color: #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}
@media (max-width: 960px) {
    .github-corner {
        display: none;
    }
}
.github-corner svg {
    fill: #fc0e49;
    color: #fff;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
}
@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}
@media (max-width: 880px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
#hero {
    text-align: center;
    margin: 2em -5em 4em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 3em;
}
#hero img {
    display: inline-block;
    width: 180px;
}
#hero h1 {
    margin: -.4em 0 -.2em;
    font-size: 230%;
    font-family: LatoWebLight;
    color: #777;
}
#hero h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #444;
    font-size: 90%;
}
#hero+h1 {
    font-size: 1.8rem;
}
@media (max-width: 700px) {
    #hero {
        margin-left: 0;
        margin-right: 0;
    }
}
#version-slurp {
    margin-top: 2em;
}
.bar {
    height: 5px;
    display: block;
    margin-bottom: 0.9em;
    border-radius: 2px;
    background-color: red;
}
#tabs {
    border-bottom: 1px solid #ddd;
}
#tabs a {
    display: inline-block;
    padding: 0.3em 1.2em;
    font-size: 90%;
    color: #999;
}
#tabs a:hover {
    text-decoration: none;
    color: #333;
}
#tabs a.current {
    border-bottom: 3px solid red;
    color: #000;
}
@media (max-width: 880px) {
    #tabs {
        text-align: center;
        padding: 0 1em;
    }
    #tabs a {
        padding: 0.3em 0.8em;
        margin-bottom: 0.8em;
    }
}
#toc {
    font-size: 90%;
}
#toc p {
    margin: 0 0 0.3em;
}
.apidoc h3 {
    color: #666;
    border-bottom: 1px solid red;
    font-family: Menlo, Monaco, "Courier New", monospace;
    padding-bottom: 0.2em;
    font-size: 100%;
    margin-bottom: 1em;
}
.apidoc h3,
h2 {
    cursor: pointer;
}
.apidoc h3:hover:before,
h2:hover:before {
    position: absolute;
    content: '#';
    margin-left: -.8em;
    color: #268bd2;
}
@media (max-width: 880px) {
    .apidoc h3:hover:before,
    h2:hover:before {
        display: none;
    }
}
.download #main p {
    margin-bottom: 0.5em;
}
#nav .current,
.tag,
h3 strong:first-child {
    background-color: #408bc2;
    padding: 0.3em 0.6em;
    color: #fff;
    font-weight: normal;
    border-radius: 0.2em;
    letter-spacing: 1px;
    margin-right: 0.3em;
}
.red {
    background-color: #fc0e49;
}
a.blue:hover {
    background-color: #32709D;
    text-decoration: none;
}
#release-notes h2 em {
    font-style: normal;
    color: #777;
    font-size: 80%;
    font-weight: normal;
}
#release-notes h2 em:before {
    content: " — ";
}
#forum-page .muut {
    display: block;
}
#forum-page .m-header {
    height: 2.4em;
}
#forum-page .m-subnavi {
    background-color: #fff;
}
#forum-page .m-login,
#forum-page .m-myname {
    color: #333;
}
#forum-page .m-navi {
    display: none;
}
.ds-dropdown-menu .algolia-docsearch-suggestion--category-header {
    background-color: #f0f0f0;
}
.ds-dropdown-menu .algolia-docsearch-suggestion--highlight {
    color: #fc0e49;
}
#header {
    padding: 0.6rem 0 4em;
    position: relative;
    z-index: 1;
    float: left;
    clear: both;
    width: 100%;
}
@media (max-width: 880px) {
    #header {
        padding-bottom: 2rem;
    }
}
@media (max-width: 880px) {
    #logo {
        width: 100%;
        display: inline-block;
    }
}
#logo #riot-logo {
    width: 80px;
    float: left;
}
@media (max-width: 880px) {
    #logo #riot-logo {
        float: none;
    }
}
#logo strong {
    font-weight: normal;
    color: #999;
    font-size: 70%;
    position: relative;
    top: -2px;
    margin-left: 5px;
}
#muut-logo {
    width: 50px;
}
#nav {
    font-size: 80%;
    line-height: 3;
    float: left;
}
#nav a {
    margin-left: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #999;
}
#nav .current {
    text-decoration: none;
}
@media (max-width: 880px) {
    #nav {
        margin: 0.5rem 0 1.5rem;
        line-height: 2.4;
        font-size: 80%;
        float: left;
        width: 100%;
    }
    #nav a {
        box-sizing: border-box;
        float: left;
        clear: both;
        margin: 0.2rem 0;
    }
}
a#current-lang {
    border-radius: 3px;
    padding: 0 4px;
    position: absolute;
    top: 0.6rem;
    right: 0;
}
a#current-lang::after {
    margin-left: 2px;
    content: "▾";
}
a#current-lang:hover {
    background-color: #eee;
    text-decoration: none;
}
@media (max-width: 880px) {
    a#current-lang {
        position: static;
        margin-left: -4px;
    }
}
#search {
    float: right;
    padding: 4px 0;
}
@media (max-width: 880px) {
    #search {
        float: left;
    }
}
#search > label {
    vertical-align: middle;
    display: inline-block;
    font-size: 80%;
    color: #999;
}
#search > .input-wrapper {
    display: inline-block;
    vertical-align: middle;
}
#search > .input-wrapper input {
    padding: 10px;
    border: none;
    box-sizing: border-box;
    background: #f0f0f0;
}
#search > .input-wrapper input:focus {
    box-shadow: 0 0 0 1px #d7d7d7 inset;
    background: white;
}
#langs {
    display: none;
    clear: both;
    background: white;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 6px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    width: auto;
    font-size: 70%;
    position: absolute;
    right: 0;
    top: 3rem;
}
#langs a {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 20px 5px 15px;
    color: #999;
}
#langs a:hover {
    text-decoration: none;
    background-color: #e9e9e9;
}
#langs a > span {
    color: white;
    background: #408bc2;
    display: inline-block;
    width: 2.5em;
    text-align: center;
    border-radius: 3px;
    margin-right: 0.5em;
}
@media (max-width: 880px) {
    #langs {
        width: 100%;
        font-size: 90%;
        position: relative;
        top: -1.5rem;
    }
}
#langs.open {
    display: block;
}
#footer {
    margin-top: 5em;
    background-color: #222;
    padding: 2em 0;
}
#footer img.logo {
    width: 80px;
    display: block;
}
#footer nav {
    margin: 0.6em 1em 0 0.3em;
    width: 6em;
    float: left;
}
@media (max-width: 880px) {
    #footer nav {
        margin-top: 1.2rem;
        width: 100%;
    }
}
#footer nav.extra {
    width: 8rem;
    margin: 0.6em 0 0 0.3em;
    float: right;
}
#footer nav.extra a {
    text-align: right;
}
@media (max-width: 880px) {
    #footer nav.extra {
        float: left;
        width: auto;
    }
    #footer nav.extra a {
        text-align: left;
    }
}
#footer nav a {
    display: block;
    margin-bottom: 0.3em;
    font-size: 85%;
    color: #fff;
    white-space: nowrap;
}
#footer nav a span {
    background-color: #fff;
    color: #454545;
    border-radius: 2px;
    display: inline-block;
    width: 30px;
    text-align: center;
    margin-right: 3px;
}
#footer .current {
    text-decoration: underline;
}
#footer:after {
    content: "";
    display: table;
    clear: both;
}
#slogan {
    float: right;
    color: #fff;
    font-size: 300%;
    font-family: garamond;
    margin-top: -1rem;
}