.wrapper
  +content-title('Цены')
  table.table.table-striped
    thead
      tr
        th Услуги
        th Цена (руб.)
    tbody
      tr
        td Первичный приём
        td 0
      tr
        td Повторный прием
        td 300
      tr
        td Глюкозометрия
        td 200
      tr
        td Забор крови
        td 250
      tr
        td Инъекция
        td 90
      tr
        td Цистоцентез
        td 700
      tr
        td Первичный приём
        td 0
      tr
        td Повторный прием
        td 300
      tr
        td Глюкозометрия
        td 200
      tr
        td Забор крови
        td 250
      tr
        td Инъекция
        td 90
      tr
        td Цистоцентез
        td 700
      tr
        td Первичный приём
        td 0
      tr
        td Повторный прием
        td 300
      tr
        td Глюкозометрия
        td 200
      tr
        td Забор крови
        td 250
      tr
        td Инъекция
        td 90
      tr
        td Цистоцентез
        td 700
      tr
        td Первичный приём
        td 0
      tr
        td Повторный прием
        td 300
      tr
        td Глюкозометрия
        td 200
      tr
        td Забор крови
        td 250
      tr
        td Инъекция
        td 90
      tr
        td Цистоцентез
        td 700
      tr
        td Первичный приём
        td 0
      tr
        td Повторный прием
        td 300
      tr
        td Глюкозометрия
        td 200
      tr
        td Забор крови
        td 250
      tr
        td Инъекция
        td 90
      tr
        td Цистоцентез
        td 700
      tr
        td Первичный приём
        td 0
      tr
        td Повторный прием
        td 300
      tr
        td Глюкозометрия
        td 200
      tr
        td Забор крови
        td 250
      tr
        td Инъекция
        td 90
      tr
        td Цистоцентез
        td 700
      tr
        td Первичный приём
        td 0
      tr
        td Повторный прием
        td 300
      tr
        td Глюкозометрия
        td 200
      tr
        td Забор крови
        td 250
      tr
        td Инъекция
        td 90
      tr
        td Цистоцентез
        td 700
      tr
        td Первичный приём
        td 0
      tr
        td Повторный прием
        td 300
      tr
        td Глюкозометрия
        td 200
      tr
        td Забор крови
        td 250
      tr
        td Инъекция
        td 90
      tr
        td Цистоцентез
        td 700

+divider