.footer {
  
  &__copy {
    margin: 0;
    padding: 45px 20px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: #314569;
  }

  @include max($ss) {
    &__copy {
      padding: 30px 15px;
      font-size: 15px;
    }
  }
}