<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h2>Главная</h2>
        <p class="left-align light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit minima neque explicabo reiciendis voluptatibus tenetur fuga consequuntur cumque ullam, autem quibusdam sunt et pariatur asperiores nihil aut consequatur provident omnis architecto sint fugiat at obcaecati, facere maiores? Itaque doloribus excepturi debitis facere beatae, vero fugit aspernatur ullam alias consequatur at sit reprehenderit corrupti iure aperiam nobis, ipsum suscipit voluptate ipsam illo cumque ex! Quis animi ipsum amet, voluptatum magni minus provident distinctio! Voluptate earum at totam ea ad, commodi deleniti reiciendis ab odit! Alias, sed numquam ad, tenetur aut, ipsa veniam doloribus temporibus fugit obcaecati sapiente dignissimos in adipisci! Consectetur in iste nisi laboriosam non eos explicabo velit, sapiente quaerat sunt quas mollitia nobis blanditiis, aspernatur maiores, reiciendis debitis voluptatibus.</p>
        <p class="left-align light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit minima neque explicabo reiciendis voluptatibus tenetur fuga consequuntur cumque ullam, autem quibusdam sunt et pariatur asperiores nihil aut consequatur provident omnis architecto sint fugiat at obcaecati, facere maiores? Itaque doloribus excepturi debitis facere beatae, vero fugit aspernatur ullam alias consequatur at sit reprehenderit corrupti iure aperiam nobis, ipsum suscipit voluptate ipsam illo cumque ex! Quis animi ipsum amet, voluptatum magni minus provident distinctio! Voluptate earum at totam ea ad, commodi deleniti reiciendis ab odit! Alias, sed numquam ad, tenetur aut, ipsa veniam doloribus temporibus fugit obcaecati sapiente dignissimos in adipisci! Consectetur in iste nisi laboriosam non eos explicabo velit, sapiente quaerat sunt quas mollitia nobis blanditiis, aspernatur maiores, reiciendis debitis voluptatibus.</p>
      </div>
    </div>
  </div>
</div>


<div id="index-banner" class="parallax-container parallax-container-big valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Parallax Template</h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="dist/img/parallax/001.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up development</h5>
          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>
          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="dist/img/parallax/002.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>
  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="dist/img/parallax/003.jpg" alt="Unsplashed background img 3"></div>
</div>


<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <p class="left-align light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut fugit alias, tenetur est doloremque itaque odio ducimus veritatis sequi ad dicta amet dolores neque sit laudantium fuga nam fugiat ipsa autem perferendis! Nemo autem quisquam magnam doloribus aliquid nam natus sint unde assumenda ducimus officia velit veritatis incidunt molestiae, dolore minus, dolorum atque eaque explicabo, beatae architecto. Beatae sed qui nostrum, quibusdam magni minima! Unde fugit, rem sint mollitia veniam repudiandae necessitatibus quam optio soluta nobis corporis placeat officia asperiores. Error quidem eum ducimus recusandae, ipsam, debitis accusantium iusto consequuntur, alias dolore vel! Perferendis nobis voluptatum numquam nam inventore, fuga itaque nemo, explicabo voluptate quaerat asperiores omnis repellendus commodi porro ipsam perspiciatis! Autem rem nobis, soluta eius ducimus suscipit, aliquid accusamus omnis, ipsam reprehenderit maiores reiciendis illo culpa impedit? Culpa, officia. Dolores quod ab in velit vitae, numquam ullam pariatur.</p>
        <p class="left-align light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis atque consequatur odio adipisci vel possimus doloribus provident, doloremque commodi eligendi quidem quod voluptas mollitia quia nobis beatae hic earum repellat maxime illo dolorum quos error laudantium ex? Suscipit veniam tenetur alias minus, delectus accusamus perferendis totam distinctio, quo mollitia quae sed corporis autem quis officia, quam qui ratione explicabo reiciendis? Facilis aliquam fugiat, quis blanditiis animi, eos cum officiis temporibus, error quibusdam voluptas cupiditate. Deleniti, reprehenderit! Tempore facere aut ducimus ipsam. Eos eaque non sapiente.</p>
      </div>
    </div>
  </div>
</div>