mixin carousel
  <div class="carousel">
    <p class="carousel-item"><img src="dist/img/carousel/001.jpg"></p>
    <p class="carousel-item"><img src="dist/img/carousel/002.jpg"></p>
    <p class="carousel-item"><img src="dist/img/carousel/003.jpg"></p>
    <p class="carousel-item"><img src="dist/img/carousel/004.jpg"></p>
    <p class="carousel-item"><img src="dist/img/carousel/005.jpg"></p>
  </div>